.divChatLine {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 0.5em; 
    margin-bottom: 12px; 
    background-color: #ffffff; 
    border: 2px solid #d1c4e9; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: all 0.3s ease;
}
  
  .divChatLine:hover {
    border-color: #b388eb; 
    box-shadow: 0 6px 12px rgba(179, 136, 235, 0.3);
  }
  
  /* Name */
  .divChatLine h3 {
    font-size: 18px; 
    color: #3a3a3a; 
    margin: 0; 
    font-weight: bold; 
  }
  
 
  .divChatLine p {
    font-size: 14px; 
    color: #666666; 
    margin: 8px 0 0; 
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
  }
  
  .divChatLine button {
    margin-top:0.5em;
    margin-bottom:0;
    align-self: flex-start; 
    padding: 6px 12px; 
    background-color: #f44336; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    font-size: 14px;
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
  

  .divChatLine button:hover {
    background-color: #d32f2f; 
    box-shadow: 0 2px 4px rgba(211, 47, 47, 0.3); 
  }
  

  .divChatLine button:active {
    transform: scale(0.95); 
  }
  